rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {
	
  	match /playgrounds/phasmophobia {
    	
      allow read: if true;
      allow write: if false;
      
      match /entities/{entity_id} {
      	allow read: if true;
      	allow write: if true;
      }
      
      match /games/{game_id} {
      	allow read: if true;
      	allow write: if true;
      }

      match /achievements/{achievement_id} {
        allow read: if true;
        allow write: if true;
      }

      match /users/{user_id} {
        allow read: if true;
        allow write: if true;

        match /achievements/{achievement_id} {
          allow read: if true;
          allow write: if true;
        }
        
      }
      
    }

    match /playgrounds/unit_test {

      allow read: if true;
      allow write: if true;

      match /persons/{person_id} {

        allow read: if true;
        allow write: if true;

      }
      
    }

    match /playgrounds/message_app {

      allow read: if true;
      allow write: if true;

    }
    
    match /{document=**} {
      allow read, write: if false;
    }
    
  }

}