/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Karla', 'Crimson Pro', "Helvetica Neue", sans-serif; }


.container-fluid {
  padding: 1em;
}

.container {
  padding: 1em;
  margin: auto;
  max-width: 960px;
}
