<div class="container is-fluid">
    <div class="columns">
        <div class="column is-4" *ngFor="let connector of this.connectors">
            <fo-one-tap-connect-firebase-button
            [name]="connector.name"
            [options]="connector.options"
            (onConnection)="onConnection($event)">
            </fo-one-tap-connect-firebase-button>
        </div>
    </div>
    
    <button class="button" (click)="toggleFullConnect()">
        <span>Toggle connection form</span>
    </button>
    <fo-connect-firebase
    *ngIf="showConnectForm"
    [defaultOptions]="defaultOptions"
    (onConnection)="onConnection($event)"></fo-connect-firebase>
</div>