.test-line {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .start {

    }

    .middle {
        flex-grow: 1;
    }

    .end {

    }
}