/* You can add global styles to this file, and also import other style files */
// @use '@angular/material' as mat;

// html {
//   color-scheme: light dark;
//   @include mat.theme((
//     color: mat.$violet-palette,
//     typography: Roboto,
//     density: 0
//   ));
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --mat-toolbar-standard-height: 64px;
  --mat-expansion-header-hover-state-layer-color: #20202020;
}

*,
.pro-sidebar {
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: #1a4173;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #0c1e35;
  }
}

.markdown-clipboard-button {
  background-color: rgba(136, 136, 136, 0.1333333333);
  border: transparent;
  box-shadow: 0 0 0 0 #0000;
  color: white;
  font-family: 'Roboto';
}

.container {
  padding: 2rem;
  max-width: 1152px;
  margin: auto;

  &.is-fluid {
    width: 100%;
    max-width: 100%;
  }
}

.mat-drawer-inner-container {
  border-right: 2px solid #88888822;
}

.mat-expansion-panel-header {
  background-color: #ba5914 !important;
}

markdown pre {
  font-size: 0.75rem;
}

.icon {
  width: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}