<div class="menu">
    <div *ngFor="let section of menu">
        <p class="menu-label">
            {{section.title}}
        </p>
        <ul class="menu-list" *ngIf="section.children && section.children.length">
            <li *ngFor="let child of section.children"><a [routerLink]="child.path">{{child.title}}</a></li>
        </ul>
    </div>
    <div>
        <p class="menu-label">
            Test
        </p>
        <ul class="menu-list">
            <li><a>Yolo 1</a></li>
            <li><a>Yolo 2</a></li>
            <li>
                <a class="is-active">Manage Your Team</a>
                <ul>
                  <li><a>Members</a></li>
                  <li><a>Plugins</a></li>
                  <li><a>Add a member</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>